* {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    -webkit-box-shadow: -1px -1px 37px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: -1px -1px 37px 0px rgba(0,0,0,0.41);
    box-shadow: -1px -1px 37px 0px rgba(0,0,0,0.41);    
}

h3 {
    font-weight: 900;
}

h4 {
    font-weight: 100;
}